build
/build/
/build/*
/FaceTek.xcodeproj/project.xcworkspace
FaceTek.xcodeproj/xcuserdata/
FaceTek.xcodeproj/xcuserdata/*
/FaceTek/FaceSDK/
/FaceTek/FaceSDK/*
.DS_Store
.DS_Store/*
/.DS_Store/
/.DS_Store/*
/.DS_Store
Pods
Pods/*
/Pods
/Pods/*
FaceTek.xcworkspace
FaceTek.xcworkspace/*
/FaceTek.xcworkspace
/FaceTek.xcworkspace/*
Podfile.lock
/Podfile.lock

